@model Cozy.Domain.Models.Home
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<div>
    @if (User.Identity.IsAuthenticated)
    {
    <p>Welcome to my site! -@User.Identity.Name</p>
    }
</div>
<div>
    @Model.Id - @Model.Address, @Model.City

</div>

